<!DOCTYPE html>
<html>
<head>
  <title>RubyPlanter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <nav>
    <h1><%= link_to "Planter", root_path %></h1>
    <ul>
      <li><%= link_to "People", people_path %></li>
      <li><%= link_to "Plant", plants_path %></li>
    </ul>
  </nav>
</header>
<main>
  <%= yield %>
</main>
</body>
</html>
